<!DOCTYPE html>
<html lang="en">

<head><!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GeetaGPT</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="static/style.css">
  <link rel="icon"
type="image/ico"
href="static/favicon.ico">
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
  <main>
    <Center>
      <div id="headpic">
      <img src="{{ url_for('static', filename='images/geeta.png') }}" alt="Image Preview" id="geeta" height="250px">
      </div>
    </Center>
    
    <div id="greet">
      <Center>
        <span id="line1Greet">
          GeetaGPT
        </span>
        <p id="line2Greet">Ask Your Problems, Krishna will Answer</p>
      </Center>
    </div>
    <br>
    <br>
    <br>

    <div class="content">
      <form method="post" onsubmit="submit.disabled=true" id=""myForm>
        <br>
        <center><textarea name="question" placeholder="Type Here... like 'I need peace'" rows="1"></textarea></center>
        <br>
        <!-- <input type="submit" value="Ask Krishna" id='submit'> -->
        <center>

          <button>
            <span class="spark"></span>
          <!-- <span class="spark"></span> -->
          <span class="backdrop"></span>
          <svg class="sparkle" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z" fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z" fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z" fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span class="text">Ask Krishna</span>
        </button>
      </center>
      
      </form>
    </div>
    
    <br>
    <div id="loading">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="dia">   
      {% if question %}
      <div class="result">
        <div class="question">
          <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <b>You:</b>
          <pre>{{ question }}</pre>
        </div>
        <hr>
        <div class="response">
          <img src="https://media.istockphoto.com/id/534747872/vector/krishna-playing-flute.jpg?s=612x612&w=0&k=20&c=J6kMwWUM9UACCljnrXNPi1JEqdJ7Dq7ryrgbTJVnsSc=" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <b>Lord Krishna:</b>
          <pre>{{ res }}</pre>
        </div>
      </div>
      {% else %}
      <div id="quote"></div>
      <br><br>
      <div>
        <b>Disclaimer:</b> GeetaGPT is an AI tool powered by GPT-3, a large language model, hence any response generated by GeetaGPT is not guaranteed to be 100% true factually.
        <br>
        <b>Note:</b> The Developer of this website are in no way responsible for the responses being generated by the AI.
      </div>
      {% endif %}
  </div>
  
  
  
  
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>

<script src="static/script.js"></script>

<br>
<br>

<div id="foot">
  
  <center>
    <img src="{{ url_for('static', filename='images/dev.png') }}" alt="Image Preview" id="dev" height="40px">

    Developed by <a href="https://linktr.ee/subhadipsaha"><b id="subh">Subhadip Saha</b></a>
    <br>
    <div id="social">
      <a href="https://www.linkedin.com/in/subhadipsahaofficial/">LinkedIn</a> | <a href="https://www.github.com/subhadip-saha-05">GitHub</a>
    </div>
    <br>
    <img src="{{ url_for('static', filename='images/peacock-feather.png') }}" alt="Image Preview" id="feather" height="65px">
  </center>
</div>
</body>

</html>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GeetaGPT</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="static/style.css">
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
  <main>
    <br>
    <br>
    <Center>
      <img src="{{ url_for('static', filename='images/geeta.png') }}" alt="Image Preview" id="geeta" height="250px">
    </Center>
    
    <div id="greet">
      <Center>
        <div id="line1Greet">
          <span style="position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #ff5f6d; transform: scaleX(0); transform-origin: left;">
          </span>
          GeetaGPT
        </div>
        <div id="line2Greet">Ask Your Problems, Krishna will Answer</div>
      </Center>
    </div>
    <br>
    <br>
    <br>

    <div class="content">
      <form method="post" onsubmit="submit.disabled=true" id=""myForm>
        <br>
        <center><textarea name="question" placeholder="Type Here... like 'I need peace'" rows="1"></textarea></center>
        <br>
        <input type="submit" value="Ask Krishna" id='submit'>
      </form>
    </div>
    
    <br>
    <div id="loading">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="dia">   
      {% if question %}
      <div class="result">
        <div class="question">
          <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <b>You:</b>
          <pre>{{ question }}</pre>
        </div>
        <hr>
        <div class="response">
          <img src="https://media.istockphoto.com/id/534747872/vector/krishna-playing-flute.jpg?s=612x612&w=0&k=20&c=J6kMwWUM9UACCljnrXNPi1JEqdJ7Dq7ryrgbTJVnsSc=" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <b>Lord Krishna:</b>
          <pre>{{ res }}</pre>
        </div>
      </div>
      {% else %}
      <div id="quote"></div>
      <br><br>
      <div>
        Disclaimer: GeetaGPT is an AI tool powered by GPT-3, a large language model, hence any response generated by GeetaGPT is not guaranteed to be 100% true factually.
        <br>
        Note: The Developer of this website are in no way responsible for the responses being generated by the AI.
      </div>
      {% endif %}
  </div>
  
  
  
  
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>

<script src="static/script.js"></script>

<br>
<br>
<div id="foot">
  
  <center>
    <img src="{{ url_for('static', filename='images/dev.png') }}" alt="Image Preview" id="feather" height="40px">

    Developed by Subhadip Saha
    <br>
    <div id="social">
      <a href="https://www.linkedin.com/in/subhadipsahaofficial/">LinkedIn</a> | <a href="https://www.github.com/subhadip-saha-05">GitHub</a>
    </div>
    <br>
    <div id="peacock">
      <img src="{{ url_for('static', filename='images/peacock-feather.png') }}" alt="Image Preview" id="feather" height="65px">
    </div>
  </center>
</div>
</body>

</html>
